.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.voiceToTextTA{
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  line-height: 24px;
  overflow: auto;
  min-height: 150px;
  width: 100%;
  height: 100%;
}
.voiceToTextWrapper{
  position: relative;
  width: 350px;
  height: 250px;
}
.recordVoiceBTN{
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
  border:none;
  box-shadow: 3px 3px 8px 0 #919191,
              -3px -3px 8px 0 #e6e6e6;
  z-index: 1;
  width: 55px;
  height: 55px;
}
.stop{
  right: 85px;
}
.listeningVoice{
  width: 62px;
  height: 62px;
  background-image: linear-gradient(45deg, red 25%, white 75%);
  position: absolute;
  animation: circle ease-in 4s infinite;
  background-color: #fff;
  right: 11px;
  bottom: 10px;
  border-radius: 50%;
}
@keyframes circle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}
.recordButtonWrapper{
  position: relative;
}